.image-field {
    border: 1px solid #3c3e4b;
    float: right; /* Align the field to the right */
    margin-top: 10px; /* Adjust top margin for spacing */
    margin-left: 10px; /* Adjust left margin for spacing */
    max-width: 120px;
    max-height: 120px;
}